{% extends "base.html" %}
{% block content %}

<style>
    body{background: #e0e0e0;font-family: "Roboto" ,"Times New Roman";}
    .mail-container{width:60%;background-color: #ffffff;border-radius: 20px;margin:20px auto;  padding: 25px;}
    .header{height:100px;display: flex;justify-content: space-around;padding:15px;margin-bottom:80px ;}
    .sub-titles{background-color: #c4c4c4;color:white;padding:5px 10px;border-radius: 15px;font-weight: 600;font-size: 16px;}
    p,label,small{color:rgb(53, 53, 53)}
    .content{color:rgb(53, 53, 53)}
    .scroll-container{display: flex;justify-content: flex-start;gap:10px;align-items:center;width:max-content;}
    .app-container{display: flex;justify-content: center;align-items: center;flex-direction: column;width:200px;min-height: 200px;
                     gap:5px;padding:25px;border:1px solid grey;border-radius: 25px;}
     .icon-cont img{width:100%;border: 1px solid rgb(235, 235, 235);}
     .app-name{font-weight:500;font-size:23px;text-align: center;}
     .owner-name{font-weight:500;font-size:16px;color:#134f72;display: flex;align-items: center;}
     .icon-imgs{transition: all 0.3s ease;height: 30px;}
     .icon-imgs:hover{transform:scale(1.5)}
     .description{font-size:12px;color:#606060;text-align: center;}
     .btns{padding:10px;color:coral;border-radius:20px;border:1px solid coral;font-size: 16px;background: none;min-width:70px;  
         text-align: center;}
     .btns:hover{border:1px solid rgb(117, 117, 117) !important;color:rgb(117, 117, 117) !important;cursor: pointer;}
     a{text-decoration: none;}
     .bolden{font-weight:600}
     img{border-radius: 15px;}
     .general-flex{display:flex;justify-content:flex-start;align-items:center;gap:10px;flex-wrap:wrap;}
     .mail-links{display: flex;align-items: center;}
     .mail-links span{font-weight:600;font-size: 13px;color:#134f72}
     .sign-column{}
     .email-sign-cont{background-color: #f7f6f6;border-radius: 20px;padding:5px}
     .div-line{background-color: white;border-radius: 10px;width:7px;height:150px}
     .service{font-weight: 600;color:#49565e;width: max-content !important}
     .services{font-weight: 500;color: #134f72;font-size: 20px;text-align: left !important;width: max-content !important;margin: 0 0 !important;}
     .app-container {
         width: 200px;
         min-height: 200px;
         border: 1px solid grey;
         border-radius: 25px;
         padding: 25px;
         background-color: #fff;
         overflow: hidden; /* Clear floats within the container */
     }
     .app-cell {
     text-align: center; /* Center the text */
 }

 @media all and (max-width: 575px){ 
    .mail-container{width:90%;margin:10px auto;padding:10px;}
    .objectives{width:90% !important}
    p{font-size:16px !important}
 }
 </style>


<div  class="mail-container">
    <!-- Header Title  -->
    <div class="header">
        <img style="height: inherit;" src="static/images/eswatini_flag.png" /> 
    </div>
    <!-- Body Message  -->
    <section style="flex-wrap: nowrap;" class="padding:10px">
        <!-- Greeting Message  -->

        <div style="font-weight:500;font-size:20px" class="content"> 
            This platform will serve as a repository where users can easily discover and explore mobile applications 
            that cater to their service requirements.
        </div>
        <div>
     
        </div>

        <br><br>
        <div style="width:60%;margin:10px" class="content objectives">
            <!-- Sub Topic  -->
            <h2 style="color:coral">Objectives of the Project</h2>
            <p style="vertical-align: top;"><span><img style="height:20px" src="static/images/tick-icon.png" /></span>
                <span style="" class="bolden">Increased Awareness:</span><span >Our goal is to promote awareness among EmaSwati about diverse mobile applications, encouraging user engagement with these essential digital solutions.
                </span></p>
            <p><span><img style="height:20px" src="static/images/tick-icon.png" /></span>
                <span class="bolden">Centralized Hub:</span> <span>Create an innovative platform that serves as a centralized repository where EmaSwati can easily discover and explore mobile applications that cater to their service requirements. This hub will streamline users' access to essential digital resources.

            </span></p>

            <p><span><img style="height:20px" src="static/images/tick-icon.png" /></span>
                <span class="bolden">Enhance Access to Digital Services:</span> <span>Facilitate swift access to digital services and resources by enabling EmaSwati to locate relevant applications effortlessly. Users will be empowered to utilize these resources without prior acknowledgment, thereby improving engagement and interaction.
                    </span></p>

            <p><span><img style="height:20px" src="static/images/tick-icon.png" /></span>
                <span class="bolden">Accelerate Market Penetration for New Applications: </span> <span>Support the rapid dissemination of newly developed applications throughout the nation, ensuring that valuable services and products reach their intended audience quickly and efficiently.
                </span></p>

            <p><span><img style="height:20px" src="static/images/tick-icon.png" /></span>
                <span class="bolden">Foster Technological Adoption:</span> <span> Act as a critical conduit for technological innovation, making it easier for EmaSwati to access and utilize digital solutions that contribute positively to societal development.
                </span></p>

            <p><span><img style="height:20px" src="static/images/tick-icon.png" /></span>
                <span class="bolden">Promote App Quality and Standards:</span> <span> Uphold the integrity of the mobile application ecosystem by providing developers with technical assistance aimed at addressing bugs, security vulnerabilities, and other potential flaws. This initiative will help ensure that applications meet high-quality standards and ultimately succeed in the competitive market.
                </span></p>
            
            
            <br><br>
        
        <!-- Footer / Email Signature -->
        </div><br><br>
        <div style="font-size: medium;flex-wrap:wrap;background-color:;width:100% !important" class="email-sign-cont ">
                <div style="vertical-align: top;" class="sign-column">
                    <div class="services">Tech Xolutions(TechX)</div>
                    <div class="mail-links"><img style="height:25px" src="static/images/email_icon.png"/><span>info@techxolutions.com</span></div>
                    <div class="mail-links"><img style="height:25px" src="static/images/telephone_icon.png"/><span>(+687) 7641 2255</span></div>
                </div>
                <div style="vertical-align: top;" class="sign-column">
                    <div class="services">Our Services</div>
                    <div style="" class="service">Web Design & Development</div>
                    <div class="service">Graphic Design</div>
                    <div class="service">Engraving</div>
                </div><br>
                <div style="vertical-align: top;" class="sign-column">
                    <img style="height:150px;width:180px" src="static/images/Techx_logo.png" />
                </div>
            </div><br><br>
        
    </section>
    <div style="" class="email-signature">

    </div>
</div>
{% endblock %}