
{% extends "base.html" %}
{% block content %}
<div style="width:;margin:0 auto;background-color:;">
    <!-- <a id="contact_us"></a> -->
    <section style="background-color:;" id="" class="services hidden">
        <!-- Flash message -->
        <div class="flash-messages ">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for  category, message in messages %}
                        <div class="flash-messages alert-{{category}}"> {{message}}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div><br>
    </section>
</div>

<section id="" class="container">
    <div class="form-container">
        <div class="space-filler"></div>
        <div><h3 style="border:none;margin: 0 auto;" class="sub-topic-details" >Mobile Application Info</h3><br>
            <small class="ad-caption">"Register Your App to increase awareness"</small>
            <small></small>
        </div>
        <div class="line"></div><br>

        
        <form style="background-color: ;width:100%;"  _lpchecked="1" action="" method="post" enctype="multipart/form-data">
            <br>
            
            <!-------Post By--------->
            <!-- <div class="job-ad-group marginise-bottom"> -->
                {{ app_form.hidden_tag() }}
                {{ app_form.name.label(class="labels")}}<br>
                {{ app_form.name(class="form-control adj-width-60",placeholder="name")}}
                {% for error in app_form.name.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}

            <!-- </div> -->

             
             <!-------app_category--------->
             <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                {{ app_form.app_category.label(class="labels")}}<br>
                {{ app_form.app_category(class="form-control adj-width-60")}}
                {% if app_form.app_category.errors %}
                {% for error in app_form.app_category.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <!-------Description--------->
            <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                {{ app_form.description.label(class="labels")}}<br>
                {{ app_form.description(class="form-control adj-width-60", placeholder="Description")}}
                {% if app_form.description.errors %}
                {% for error in app_form.description.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <!-------Platform--------->
            <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                {{ app_form.platform.label(class="labels")}}
                {{ app_form.platform( style="list-style-type:none", class="adj-width-60", placeholder="platform")}}
                {% if app_form.platform.errors %}
                {% for error in app_form.platform.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div><br>

            <!-------version_number--------->
            <div style="background-color: f8f95a;" class="job-ad-group marginise-bottom">
                {{ app_form.version_number.label(class="labels")}}<br>
                {{ app_form.version_number(class="form-control adj-width-60", placeholder="version_number")}}
                {% if app_form.version_number.errors %}
                {% for error in app_form.version_number.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>


            <!-------Play Store--------->
            <div class="job-ad-group marginise-bottom">
                {{ app_form.playstore_link.label(class="labels")}}<br>
                {{ app_form.playstore_link(class="form-control adj-width-60",placeholder="Paste App Play Store Link")}}
                {% if app_form.playstore_link.errors %}
                {% for error in app_form.playstore_link.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <!-------iOS Store--------->
            <div class="job-ad-group marginise-bottom">
                {{ app_form.ios_link.label(class="labels")}}<br>
                {{ app_form.ios_link(class="form-control adj-width-60",placeholder="Paste App iOS Link")}}
                {% if app_form.ios_link.errors %}
                {% for error in app_form.ios_link.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <!-------Uptodown Store--------->
            <div class="job-ad-group marginise-bottom">
                {{ app_form.uptodown_link.label(class="labels")}}<br>
                {{ app_form.uptodown_link(class="form-control adj-width-60",placeholder="Paste App Uptodown Link")}}
                {% if app_form.uptodown_link.errors %}
                {% for error in app_form.uptodown_link.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>


            <!-------web_link--------->
            <div class="job-ad-group marginise-bottom">
                {{ app_form.web_link.label(class="labels")}}<br>
                {{ app_form.web_link(class="form-control adj-width-60",placeholder="e.g. https://www.vakashanexplore.com")}}
                {% if app_form.web_link.errors %}
                {% for error in app_form.web_link.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>


            <!-------Facebook--------->
            <div class="job-ad-group marginise-bottom">
                {{ app_form.facebook_link.label(class="labels")}}<br>
                {{ app_form.facebook_link(class="form-control adj-width-60",placeholder="Facebook")}}
                {% if app_form.facebook_link.errors %}
                {% for error in app_form.facebook_link.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <!-------Whatsapp--------->
            <div class="job-ad-group marginise-bottom">
                {{ app_form.whatsapp_link.label(class="labels")}}<br>
                {{ app_form.whatsapp_link(class="form-control adj-width-60",placeholder="whatsapp No.")}}
                {% if app_form.whatsapp_link.errors %}
                {% for error in app_form.whatsapp_link.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>


            <!-------x_link--------->
            <div class="job-ad-group marginise-bottom">
                {{ app_form.x_link.label(class="labels")}}<br>
                {{ app_form.x_link(class="form-control adj-width-60",placeholder="Twitter")}}
                {% if app_form.x_link.errors %}
                {% for error in app_form.x_link.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>
            
            <!-------LinkedIn--------->
            <div class="job-ad-group marginise-bottom">
                {{ app_form.linkedin_link.label(class="labels")}}<br>
                {{ app_form.linkedin_link(class="form-control adj-width-60",placeholder="e.g. http://www.linkedin_link.com")}}
                {% if app_form.linkedin_link.errors %}
                {% for error in app_form.linkedin_link.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>


            <!-------youtube_link--------->
            <div class="job-ad-group marginise-bottom">
                {{ app_form.youtube_link.label(class="labels")}}<br>
                {{ app_form.youtube_link(class="form-control adj-width-60",placeholder="YouTube")}}
                {% if app_form.youtube_link.errors %}
                {% for error in app_form.youtube_link.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <!-------github_link--------->
            <div class="job-ad-group marginise-bottom">
                {{ app_form.github_link.label(class="labels")}}<br>
                {{ app_form.github_link(class="form-control adj-width-60",placeholder="Github")}}
                {% if app_form.github_link.errors %}
                {% for error in app_form.github_link.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <!-------App Icon--------->
            <div class="job-ad-group marginise-bottom">
                {{ app_form.app_icon.label(class="labels")}}<br>
                {{ app_form.app_icon(class="form-control adj-width-60",placeholder="App Icon")}}
                {% if app_form.app_icon.errors %}
                {% for error in app_form.app_icon.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <!-------Company Name--------->
            <div class="job-ad-group marginise-bottom">
                {{ app_form.company_name.label(class="labels")}}<br>
                {{ app_form.company_name(class="form-control adj-width-60",placeholder="Company Name")}}
                {% if app_form.company_name.errors %}
                {% for error in app_form.company_name.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <!-------Company Contacts--------->
            <div class="job-ad-group marginise-bottom">
                {{ app_form.company_contact.label(class="labels")}}<br>
                {{ app_form.company_contact(class="form-control adj-width-60",placeholder="Company contact")}}
                {% if app_form.company_contact.errors %}
                {% for error in app_form.company_contact.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <!-------Company Email--------->
            <div class="job-ad-group marginise-bottom">
                {{ app_form.company_email.label(class="labels")}}<br>
                {{ app_form.company_email(class="form-control adj-width-60",placeholder="Company email")}}
                {% if app_form.company_email.errors %}
                {% for error in app_form.company_email.errors %}
                    <span class="span-error" >*{{error}}</span>
                {% endfor %}
                {% endif %}
            </div>

            <div>
                {{ app_form.submit(class="btns") }}
                <!--<input class="btns" type="submit" value="Create Account" />-->
            </div>

        </form>
</div>
</section>

{% endblock %}