<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>{{title}}</title>

    <div class="physical_addr">
        <p>info@techxolutions.com</p>
        <p>techxolutions.com</p>
    </div>

    <div class="logo">
      <img style="height: inherit;" src="static/images/logo.png" />
    </div>

    <!-- <nav class="nav">
        <ul>
            <li class="links-li" ><a href="/">Home</a></li>
            <li class="links-li" ><a href="/#services">Services</a></li>
            <li class="links-li"><a href="/">About</a></li>
            <li class="links-li"><a href="/#contact_us">Contact Us</a></li>
        </ul>
    </nav> -->

<!--    <button class="menu burger">Menu</button>-->
    <div class="navigation">
        <div style=""  onclick="sideNavFunc(event)" class="menu-icon">
            <div class="stroke"></div>
            <div class="stroke"></div>
            <div class="stroke"></div>
        </div>

        <div class="other-nav">
            <ul class="other-navbar-nav">
              <li class="other-nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <div class="navbar-separator"></div>
              <li class="other-nav-item">
                <a class="nav-link" href="/#services">About</a>
              </li>
              <div class="navbar-separator"></div>
              <li class="other-nav-item">
                <a class="nav-link" href="/freelance_job_ads">Contact Us</a>
              </li>
              <div class="navbar-separator"></div>
              <li class="other-nav-item">
                <a class="nav-link" href="/about">Explore Apps</a>
              </li>
              <div class="navbar-separator"></div>
              <li class="other-nav-item">
                <a class="nav-link" href="/contact" >Engraving</a>
              </li>
            </ul>
        </div>

        

        <div style="background-color:" class="user">
            <div class="user-label">
              <div><img style="" class="icon-imgs" src="static/icons/facebook-icon.png" /></div>
              <div><img style="" class="icon-imgs" src="static/icons/instagram-icon.png" /></div>
              <div><img style="" class="icon-imgs" src="static/icons/linkedin-icon.png" /></div>
            </div>
        </div>
  </div>
  <div onclick="closeSideNavFunc()"  id="side-navig-bg" class="side-nav-bg ">
    <div id="side-navig-cont" class="side-nav-cont move-to-appear">
        <!-- <div class="close-btn"><div class="stroke"></div></div> -->
        <h3>Menu</h3>
        <div class="sidenav-list">
            <li class="other-nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="other-nav-item">
              <a class="nav-link" href="/app_form">Publish App</a>
            </li>
            <li class="other-nav-item">
              <a class="nav-link" href="#">Apps Reviews</a>
            </li>
            <li class="other-nav-item">
              <a class="nav-link" href="/about" >About</a>
            </li>
        </div>
    </div>
  </div>

</head>
<body>
    <div style="width:100%" class="">
        {% block content %}
        {%endblock%}
    </div>

    <script src="static/js_script.js" ></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>